<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Unsuccessful</title>
    <style>
      
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 100px;
        }

        .message {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h1 {
            color: #ff0000;
        }

        .login-form {
            margin-top: 20px;
            text-align: center;
        }

        .login-link {
            color: #0077cc;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="message">
        <h1>Login Unsuccessful</h1>
        <p>Please check your username and password and try again.</p>
        
        <div class="login-form">
            <p>Or you can:</p>
            <a href="/signup">Log in again</a> | <a href="/forgot_password">Forgot Password</a> | <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
</html>
